h1 {
  color: #8A15CC;
<!-- Comment like this -->  font-style: oblique;
  text-align: center;
  font-weight: bold;
<!-- Comment like this -->   font-size: 18pt;
  line-height: 30pt;
}

.flashy {
  color: red;
  font-weight: bolder;
}

.column1 {
<!-- Comment like this --> width: 80px;
<!-- Comment like this -->  float: left;
}

img {
 float: right;
}

.makesidebar {
<!-- Comment like this -->  float: right;
}

<!-- Comment like this -->
