.class1 {
  color: red;
  padding: 5px;
  border-width: medium;
  border-style: solid;
  border-color: green;
  background-color: #FFFF00;
}

h1 {
  color: #8A15CC;
<!-- Comment like this -->  font-style: oblique;
  text-align: center;
  font-weight: bold;
<!-- Comment like this -->   font-size: 18pt;
  line-height: 30pt;
}

.flashy {
  color: red;
  font-weight: bolder;
}

.column1 {
<!-- Comment like this --> width: 80px;
<!-- Comment like this -->  float: left;
}

img {
 float: right;
}

.makesidebar {
<!-- Comment like this -->  float: right;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}
